<% provide(:page_title, "Home") %>
<br/>

<!-- First Container ( Club Picture ) -->
<div class="container bg-1 text-center">
    <p id="text1">// Long Live Open Source :}</p>
    <div class="row">
        <div class="col-md-3"> 
            <!-- placeholder -->
        </div> 
        <div class="col-md-6">
            <a href="https://ccsu.campuslabs.com/engage/organization/App_Development_Club" class="protip" data-pt-title="Meetings take place every Monday 5 p.m. in Maria Sanford, Room 208!" data-pt-trigger="sticky" data-pt-gravity="bottom" data-pt-size="large" data-pt-animate="fadeInLeftBig" data-pt-target="a.protip"> 
<<<<<<< HEAD
            <%=image_tag("https://s3.us-east-2.amazonaws.com/app-dev-blog-site/club_photo.jpg", :class => "img-circle img-responsive") %> 
            </a>
        </div> 
        <div class="col-md-3"> 
            <div class="black-logo">
            <%=image_tag("https://s3.us-east-2.amazonaws.com/app-dev-blog-site/club_logo-b.png", class: "img-responsive") %> 
=======
            <img src="assets/club_photo.jpg" class="img-circle img-responsive" alt="Club Photo"></a>
        </div> 
        <div class="col-md-3"> 
            <div class="black-logo">
                <img src="assets/club_logo-b.png" class="img-responsive" alt="Club Logo">
>>>>>>> cfef13be2f99f4ad9f934a62d1a0d356a75139f9
            </div>   
        </div>  
    </div> 
</div>
<br/>
     
<!-- Second Container ( Mission )-->
<div class="container-fluid bg-2 text-center">  
    <h3>Our Mission</h3>
    <br/>
    <p>We will further our knowledge by focusing on a variety of applications that will allow students to broaden their skill sets and build their portfolios.</p>
    <br/>
    <a href="https://ccsu.campuslabs.com/engage/organization/App_Development_Club" class="btn btn-default btn-lg">Become a Member</a>  
</div>

<!-- Third Container ( 3x1 Grid ) -->
<div class="container-fluid bg-3 text-center">    
    <div class="row row-grid">
        <div class="col-sm-4">
            <h4 id="grid">Think</h4>
            <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-4"> 
            <h4 id="grid">Collaborate</h4>
            <i class="fa fa-handshake-o fa-3x handshake" aria-hidden="true"></i>
        </div>
        <div class="col-sm-4"> 
            <h4 id="grid">Create</h4>
            <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
        </div>
    </div>
</div>

<!-- Footer ( Shout out to CCSU )-->
<footer class="container-fluid bg-4 text-center">
    <p>Brought to you by Central Connecticut State University 
<<<<<<< HEAD
    <%=image_tag("https://s3.us-east-2.amazonaws.com/app-dev-blog-site/ccsuLogo.svg", :size => "40x120") %> 
    </p>  
=======
    <img src="assets/ccsuLogo.svg" width="40px", height="120px"/></p>  
>>>>>>> cfef13be2f99f4ad9f934a62d1a0d356a75139f9
</footer>

