
<div class="container-fluid members-bg text-center">  
    <h1> Members </h1>
    <br/>
    <h6> Click the names of some of our members to view their LinkedIn Accounts </h6>
    <br/>

    <a href="https://www.linkedin.com/in/sebastian-arango-01635912a/"> Sebastian Arango (Treasurer)</a> <br/>
    <a href="https://www.linkedin.com/in/nilay-bhatt-3a79a7100/"> Nilay Bhatt </a> <br/>
    <a href="https://www.linkedin.com/in/asher-butler-723b10123/"> Asher Butler </a> <br/>
    <a href="https://www.linkedin.com/in/cnoelani/"> Chelsea Edwards </a> <br/>
    <a href="https://www.linkedin.com/in/robert-gatzak-5b77b6149/"> Robert Gatzak (Vice President) </a> <br/>
    <a href="https://www.linkedin.com/in/joshua-glynn-660503126/"> Joshua Glynn (Secretary) </a> <br/>
    <a href="https://www.linkedin.com/in/robert-grospitch-b70523a9/"> Robert "RJ" Grospitch </a> <br/>
   	<a href="https://www.linkedin.com/in/robert-henley-44b35a12a/"> Robert Henley </a> <br/>
   	<a href="https://www.linkedin.com/in/justin-inho-3098b5130/"> Justin Inho </a> <br/>
    <a href="https://www.linkedin.com/in/skyler-lehan-352687126/"> Skyler Lehan (Alum Class of '17) </a> <br/>
    <a href="https://www.linkedin.com/in/arasan-kathiravan-788971129/"> Arasan Kathiravan (President) </a> <br/>
    <a href="https://www.linkedin.com/in/shelankel/"> Shelby Kelley </a> <br/>
    <a href="https://www.linkedin.com/in/deepankarmalhan/"> Deepankar Malhan </a> <br/>
    <a href="https://www.linkedin.com/in/kenneth-morton-jr-910bb4149/"> Kenneth Morton Jr </a> <br/>
    <a href="https://www.linkedin.com/in/cody-santor-380236141/"> Cody Santor </a> <br/>
    <a href="https://www.linkedin.com/in/cameron-sonido-272ba7121/"> Cameron Sonido (Alum Class of '17)</a> <br/>
    <a href="https://www.linkedin.com/in/kyle-sturmer-78861a126/"> Kyle Sturmer </a> <br/>    
    <a href="https://www.linkedin.com/in/christopher-white-5b6578ba/"> Christopher White </a> <br/>  
</div>